.animaicons {
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem 0 6.2rem;
  gap: 1rem;

  @media (max-width: $mobile) {
    display: none;
  }

  &__column {
    position: relative;
    height: 10.5rem;
    width: 10.5rem;
    overflow: hidden;
  }

  &__image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 10.5rem;
    height: 10.5rem;
    align-items: center;
    justify-content: center;

    img {
      max-height: 100%;
    }

    &.is-shown {
      display: flex;
    }

  }

}
