.anketa {
  padding: 10rem 0 10rem;

  @media(max-width: $tablet) {
    padding: 50px 0 50px;

    .container {
      padding: 0;
    }
  }

  &__content {
    position: relative;
    padding: 7.7rem 4rem 4.6rem 4.6rem;
    background-color: $purple;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;

    @media (max-width: $tablet) {
      padding: 50px 20px;
    }
  }

  &__arrow {
    position: absolute;
    fill: $white;
    top: 1rem;
    left: -10.7rem;

    @media (max-width: $tablet) {
      width: 33px;
      height: 23px;
      top: 43px;
      left: 2px;
    }
  }

  &__spiral {
    position: absolute;
    right: -5.5rem;
    bottom: -4.4rem;

    @media (max-width: $tablet) {
      width: 60px;
      height: auto;
      right: -7px;
      bottom: 37px;
    }
  }

  &__circle-word {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: -1.7rem;

      @media (max-width: $tablet) {
        width: 137%;
        top: -13px;
        left: -27px;
      }
    }
  }

  &__title {
    position: relative;
    font-family: $dele;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 5rem;
    line-height: 7.2rem;
    text-align: center;
    margin: 0 0 3.2rem;

    @media (max-width: $tablet) {
      font-size: 23px;
      line-height: 33px;
      margin: 0 0 30px;
      max-width: 375px;
    }
  }

  &__transparent-text {
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    color: $purple;

    @media (max-width: $tablet) {
      display: block;
      margin: 30px 0 0;
    }
  }

  &__button {
    width: 44.3rem;
    margin: 0 0 2rem;
    padding: 1.2rem 0 1.2rem;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 19px;
      width: 100%;
      padding: 13px 20px;
      margin: 0 0 19px;
    }
  }

  &__description {
    font-size: 1.8rem;
    line-height: 2.2rem;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__circle {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
  }
}
