.footer {
  padding: 11rem 0 0;

  @media (max-width: $mobile) {
    padding: 25px 0 25px;
  }

  &__top {
    font-size: 4.5rem;
    line-height: 6.5rem;
    font-family: $dele;
    text-transform: uppercase;
    margin: 0 0 4rem;
    max-width: 130rem;

    @media (max-width: $mobile) {
      font-size: 20px;
        line-height: 29px;
        margin: 0 0 20px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 3rem;

    @media (max-width: $mobile) {
      padding: 0 50px 0 0;
      gap: 0;
      margin: 0 0 24px;
    }
  }

  &__title {
    h2 {
      font-size: 4.5rem;
      line-height: 6.5rem;

      @media(max-width: $mobile) {
        font-size: 20px;
        line-height: 29px;

        br {
          display: none;
        }
      }
    }
  }

  &__arrow {
    fill: none;

    @media (max-width: $mobile) {
      display: none;
    }

    &--mobile {
      display: none;
      position: absolute;
      right: 15px;
      top: 18px;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }

  &__agency-link {
    img {
      margin: 0 0 0.5rem;
    }

    span {
      display: inline-block;
      font-size: 3rem;
      line-height: 3.6rem;
      padding: 0 0 0.2rem;
      border-bottom: 1px solid $purple;
    }

    &:hover {
      span {
        border-color: $pink;
      }
    }

    @media (max-width: $mobile) {
      width: 108px;

      img {
        margin: 0 0 5px;
        width: 86px;
      }

      span {
        font-size: 18px;
        line-height: 21px;
      }

    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.3rem 26rem 0 0;
    margin: 0 0 6.3rem;
    color: $black;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      padding: 0;
      align-items: flex-start;
      margin: 0 0 29px;
    }
  }

  &__social-item {
    width: 10.9rem;

    svg {
      width: 100%;
      height: auto;
    }

    @media (max-width: $mobile) {
      width: 20%;
    }
  }

  &__social-link {
    transition: $tr;
    color: $black;

    @media (max-width: $mobile) {
      display: block;

    }
  }

  &__socials {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.8rem;

    @media (max-width: $mobile) {
      width: 100%;
      gap: 21px;
      margin: 0 0 20px;
    }
  }

  &__policy-link {
    color: $black;
  }

  &__copyright {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid $black;
    padding: 2rem 0 4rem;
    font-size: 1.4rem;
    line-height: 2.4rem;

    @media (max-width: $mobile) {
      font-size: 11px;
      line-height: 13px;
      padding: 10px 0 20px;
      gap: 20px;
    }

    p {
      margin: 0;
    }

  }

  &__lovely-text {
    @media(max-width: $mobile) {
      text-align: right;
    }
  }

  &__arrow {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
  }

}
