.form {

  &__input {
    width: 100%;

    label {
      display: block;
      font-family: $dele;
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 2.6rem;
      margin: 0 0 0.4rem;

      @media(max-width: $mobile) {
        font-size: 16px;
        line-height: 23px;
        margin: 0 0 4px;
      }
    }

    input,
    textarea {
      width: 100%;
      border: 2px solid $black;
      min-height: 7.3rem;
      background-color: $grey;
      margin: 0 0 1.8rem;
      padding: 2.5rem 3.2rem;
      font-size: 1.8rem;
      line-height: 2.2rem;
      resize: none;
      border-radius: 0;

      @media(max-width: $mobile) {
        min-height: 41px;
        padding: 11px 13px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 14px;
      }
    }

    textarea {
      min-height: 156px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
    }

    input {
      -webkit-appearance: none;
  }
  }

}
