.hero {


  &__wrapper {
    border-bottom: 1px solid $black;
  }
  &__content {
    padding: 18rem 0 22.7rem;
    max-width: 132.7rem;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    margin: 0 0 3.5rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__animaicons {
    flex-grow: 1;
  }

  &__text {
    font-size: 3.5rem;
    line-height: 4.2rem;
    color: $black;
  }

  &__bottom-logo {
    position: relative;

    svg {
      position: absolute;
      bottom: -4.5rem;
      left: -4.5rem;
    }
  }

  &__text {
    margin: 0 0 1rem;
  }

  &__arrow {
    margin: 0 3.5rem 0 0;
  }

}
