.hero {
  position: relative;
  z-index: 10;

  &__wrapper {
    border-bottom: 1px solid $black;

    &--desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      border-bottom: none;
    }
  }

  &__content {
    padding: 13.7rem 0 20.7rem;
    max-width: 148.7rem;
    margin: 0 auto;

    .hero__wrapper--mobile & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $tablet) {
      padding: 75px 0 0;
    }

    @media (max-width: $mobile) {
      padding: 20px 0 0;
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;

    @media (max-width: $tablet) {
      gap: 10px;
      margin: 0 0 23px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__bottom-logo {
    position: relative;
    margin-top: 0.5em;

    svg {
      position: absolute;
      bottom: -4.5rem;
      right: -1.5rem;
      max-width: 100%;
    }

    .hero__wrapper--mobile & {
      display: flex;
      justify-content: center;
      align-self: center;

      svg {
        bottom: -14px;
        right: -7px;
        max-width: 100%;
      }
    }

  }



  &__bottom-text {
   text-align: center;
  }

  &__bottom-mobile-svg {
    display: none;
    width: 38px;
    height: 38px;

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  &__animaicons {
    display: flex;
    flex-grow: 1;

    @media (max-width: $tablet) {
      display: none;
    }

  }

  &__mobile-icons {
    display: none;
    align-items: center;
    width: 20%;
    gap: 10px;

    svg {
      height: 100%;
    }

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  &__text {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 300;
    color: $black;
    margin: 0 0 1rem;
    display: flex;
    flex-grow: 1;
    gap: 2.4rem;
    align-items: center;
    max-width: 54.5rem;
    margin-top: 1rem;
    margin-right: 1.8rem;

    svg {
      flex-shrink: 0;
    }

    .hero__wrapper--mobile & {
      font-size: 14px;
      line-height: 17px;
      margin: 24px 0 8px 10px;
      max-width: 291px;
      gap: 15px;
      align-self: center;
    }

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
      gap: 12px;
      margin: 0 0 8px;

      br {
        display: none;
      }
    }
  }

  &__top-logo {
    padding:0 0 0 4rem;

    .hero__wrapper--mobile & {
      padding: 0;
      gap: 20px;
    }

  }

  &__upper-logo {
    text-align: center;
    margin: 0 0 2rem;
  }

  &__logo-text {
    font-family: $dele;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 6.5rem;
    line-height: 9.4rem;
    z-index: 2;
    position: relative;

    .hero__wrapper--mobile & {
      font-size: 26px;
      line-height: 38px;
      display: flex;
      margin: 0 0 1px;
    }

  }





  &__arrow {
    margin: 0 3.5rem 0 0;

    @media (max-width: $tablet) {
      width: 38px;
      transform: rotate(180deg);
      margin: 0;
    }
  }

}
