.marquee {
  border-top: 1px solid $purple;
  border-bottom: 1px solid $purple;
  text-transform: uppercase;
  color: $purple;
  font-size: 5.6rem;
  line-height: 6.87rem;

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    padding: 2rem 1rem;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0;
      height: 0;
      display: none;
    }
  }

  p {
    white-space: nowrap;
    margin: 0;
  }

  svg {
    flex-shrink: 0;
    margin: 0 3.4rem 0 2.6rem;
  }

}
