.purple-list {
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 2.5rem;
    margin: 0 0 1.2rem;

    &:before {
      content: '';
      position: absolute;
      top: 1rem;
      left: 0;
      width: .8rem;
      height: .7rem;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.62282 8C4.62282 6.64098 4.70864 5.26875 5.19735 3.98176C5.28804 3.74293 6.31656 1 6.64142 1C6.70729 1 6.32078 1.68481 6.29981 1.72103C6.00947 2.22261 5.82429 2.7867 5.60883 3.32082C5.24994 4.21048 4.93059 5.23212 4.75481 6.16738C4.59618 7.01137 3.90867 4.99202 3.54944 4.82296C3.3688 4.73795 0.798797 4.39177 1.01263 4.3573C2.39223 4.13486 3.64673 4.24044 4.98772 4.62768C6.11519 4.95327 8.12766 5.37752 8.94729 6.30258C9.33123 6.7359 7.49932 6.33011 7.27806 6.23498C6.243 5.78995 4.9477 4.98424 3.84644 5.28863C3.51372 5.38059 4.10274 4.84843 4.14146 4.82296C4.52206 4.57259 4.94381 4.35195 5.30604 4.0794C5.96374 3.58453 6.77363 3.43489 7.53427 3.14056C7.93065 2.98717 8.6418 2.77076 7.8914 3.27575C7.0189 3.86292 6.17153 4.45369 5.32933 5.07833C4.61015 5.61172 3.8664 6.24079 3.08558 6.67811C2.91726 6.77238 2.47482 7.0887 2.55764 6.91845C2.8392 6.33964 3.92408 5.84913 3.92408 5.16094C3.92408 4.36457 3.48248 3.30011 3.11664 2.59227C2.83583 2.04897 3.66394 3.69295 4.03277 4.18455C4.40179 4.67639 4.8306 5.0969 5.18182 5.59657C5.597 6.18721 6.27339 6.70828 6.61037 7.32403C6.71488 7.515 7.04447 7.80988 6.7967 7.42918C6.41741 6.84643 5.95319 6.31426 5.57001 5.73176C4.72409 4.4458 3.6184 3.21759 2.94583 1.91631' stroke='%238469FF' stroke-linecap='round'/%3E%3C/svg%3E");

    }
  }

}
