.receive {
  padding: 10rem 0 10rem;
  color: $white;

  @media (max-width: $tablet) {
    padding: 40px 0;
  }

  .container {
    @media (max-width: $tablet) {
      padding: 0;
    }
  }

  &__content {
    padding: 7rem 9.6rem 6.9rem 4.7rem;
    display: flex;
    background-color: $purple;

    @media (max-width: $tablet) {
      flex-direction: column;
      padding: 40px 20px 50px;
    }
  }

  &__arrow-text {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0 3rem;
    z-index: 2;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 19px;

      br {
        display: none;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
    z-index: 0;
    stroke-dasharray: 400;
    stroke-dashoffset: -400;
    width: 74.5%;
    height: auto;

    @media (max-width: $tablet) {
      transform: scaleY(-1) rotate(213deg);
      width: 109px;
      height: 109px;
      top: 0;
      left: auto;
      right: -61px;
    }
  }

  &__arrow-block {
    position: relative;
    padding: 1.5rem 0 0;
    width: 34rem;
  }

  &__button {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    width: 36.5rem;

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      height: 47px;
    }
  }

  &__description {
    max-width: 57rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0 0 5rem;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 40px;
    }
  }

  &__stars {
    align-self: flex-end;
    position: relative;
    top: -5rem;
    right: -11rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__header {
    display: flex;
    margin: 0 0 2.7rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      margin: 0 0 10px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 5.1rem;
    font-family: $dele;
    gap: 2rem;
    margin: 0;

    &:first-child {
      width: 38.5rem;
    }

    @media (max-width: $tablet) {
      font-size: 23px;
      line-height: 33px;
      margin: 0 0 20px;

      span {
        display: block;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 20px;
    }
  }

}
