.team {
  padding: 10rem 0 10rem;

  @media (max-width: $mobile) {
    padding: 20px 0 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 3.5rem;

    @media (max-width: $mobile) {
      margin: 0 0 20px;
    }

  }

  &__arrow {
    &--prev {
      transform: rotate(180deg) translateY(0.8rem);
    }

  }

  &__description {
    max-width: 55.8rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0 0 6rem;

    a {
      display: inline-block;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid $purple;

      &:hover {
        border-color: $pink;
      }
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 18px;
    }
  }

  .swiper-nav {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    margin: 0 0 1.4rem;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__slide {
    width: 36.5rem;

    &:last-child {
      width: calc((100% - 152rem)/2)
    }

    @media (max-width: $mobile) {
      width: 334px;
      max-width: 89%;
    }
  }

  .swiper-container {
    margin-top: -5rem;
  }

  .swiper-wrapper {
    padding-left: calc((100% - 152rem)/2);
    padding-top: 5rem;

    @media (max-width: $mobile) {
      padding-left: 20px;
    }
  }

  &__photo {
    margin: 0 0 0.5rem;

    @media (max-width: $mobile) {
      margin: 0 0 6px;
    }
  }

  &__name {
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem;

    @media(max-width: $mobile) {
      font-size: 17px;
      line-height: 23px;
      margin: 0 0 4px;
    }
  }

  &__position {
    font-size: 1.4rem;
    line-height: 1.8rem;
    opacity: 0.6;
    margin: 0 0 0.5rem;

    @media(max-width: $mobile) {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 6px;
    }
  }

  &__about {
    border-top: 1px solid $black;
    padding: 0.5rem 0 0;
    font-size: 1.4rem;
    line-height: 1.8rem;

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__slide-image {
    position: relative;
  }

  &__sign {
    position: absolute;
    z-index: 20;

    &--purple-some {
      bottom: -2.9rem;
      right: 3.8rem;
    }

    &--suragency {
      top: -4rem;
      right: -6.8rem;
    }

    &--pink-some2 {
      bottom: 3rem;
      right: -8.8rem;
    }

    &--purple-think {
      top: -5rem;
      right: 1.5rem;
    }

    &--skull {
      bottom: 4rem;
      right: -4.5rem;
    }

    &--lightning {
      bottom: -4rem;
      right: 1rem;
    }

    &--pink-some3 {
      top: -1rem;
      right: -10rem;
    }

    &--purple-stripes {
      bottom: 1rem;
      right: -6rem;
    }

    &--purple-some {
      top: 3rem;
      right: -5.5rem;
    }

    &--purple-curves {
      top: -3rem;
      left: 0rem;
    }
  }

}
