.up {
    position: fixed;
    z-index: 10;
    color: $black;
    bottom: 15rem;
    right: 4.3rem;
    width: 2.4rem;
    height: 3.4rem;
    cursor: pointer;
    display: none;

    &--shown {
      display: flex;
    }

    & svg {
      transition: 0.3s ease-in-out;
      transform: rotate(270deg);
    }

    &:hover {
      color: $pink;
    }

    @media (max-width: $mobile) {
      bottom: 125px;
      right: 15px;
      width: 34px;
      height: 24px;

      &:hover {
        color: $black;
        width: 30px;
        height: 30px;
      }
    }

  }
