.art-overall {
  padding: 5rem 0 1.7rem;

  &__title {
    margin: 0 0 5rem;
  }

  &__content {
    margin: 0 0 5rem;

    p {
      margin: 0 0 3.4rem;
    }
  }

  .attention__text {
    margin-top: 0;
    padding-right: 9rem;
  }
}
