.article {
  display: flex;
  gap: 1rem;
  padding: 4.2rem 0 4.2rem;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $tablet) {
    padding: 1.8rem 0;
    gap: 2rem;
  }

  .is-sticky {
    top: 140px;
    position: fixed;
    width: 37.5rem;

    @media (max-width: $tablet) {
      top: 0;
      position: relative;
      width: 100%;
    }
  }

  .is-bottom {
    position: absolute;
    bottom: 0;
    left: 2.7rem;
    top: auto;
    width: 37.5rem;

    @media (max-width: $laptop) {
      left: 4.5rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: normal;
    font-weight: 400;
    font-family: $dele;
    color: $purple;
    margin: 0 0 5rem;
    opacity: 0;
  }

  &__nav-wrapper {
    opacity: 0;
  }


  &__nav {
    width: 37.5rem;
    flex-shrink: 0;
    padding: 1.4rem 0 0;
  }

  &__nav-title {
    text-transform: uppercase;
    font-family: $dele;
    font-size: 3rem;
    color: $dark-grey;
    margin: 0 0 4rem;
    font-weight: 400;


    @media (max-width: $mobile) {
      font-size: 1.6rem;
      margin: 0 0 2rem;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 0.5rem 0 0;
  }

  p {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0 0 2.3rem;

    @media(max-width: $tablet) {
      font-size: 2rem;
      line-height: 1.4;
    }

    @media(max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  strong {
    font-weight: 400;
    font-family: $dele;
    color: $purple;
  }

  .section-title {
    &__step {
      font-size: 2rem;
      line-height: 1;
      margin: 0;

      @media (max-width: $mobile) {
        font-size: 1.3rem;
        line-height: 1;
        font-weight: 400;
        margin: 0 0 0.7rem;
      }
    }

    @media (max-width: $tablet) {
      margin: 0 0 3rem;
      h2 {
        font-size: 4rem;
      }

    }

    @media (max-width: $mobile) {
      h2 {
        font-size: 2rem;
        line-height: normal;
        font-weight: 400;
      }
    }
  }
}
