.profits {
  position: relative;
  padding: 8.7rem 0 8rem;

  @media (max-width: $mobile) {
    padding: 3.6rem 0 2.5rem;
  }

  &__title {
    font-family: $dele;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: normal;
    color: $dark-grey;
    margin: 0 0 5.4rem;

    @media (max-width: $mobile) {
      font-size: 1.6rem;
      margin: 0 0 3rem;
      line-height: 1.45;
    }
  }

  &__table {
    display: flex;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__decor {
    display: none;

    @media (max-width: $mobile) {
      display: block;
      position: absolute;
      top: 8.8rem;
      right: -2rem;
    }
  }

  &__column {
    width: 54.2%;
    padding-right: 0;
    padding-left: 4.5rem;

    @media (max-width: $tablet) {
      padding-left: 2rem;
    }

    @media (max-width: $mobile) {
      width: 100%;
      padding: 0;
      padding-top: 2rem;
    }

    .profits__header {
      padding-right: 4.5rem;

      @media (max-width: $tablet) {
        padding-right: 2rem;
      }

      @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: center;

        span {
          align-self: flex-start;
          font-size: 1.6rem;
          margin-top: 2.45rem;
          gap: 0;
        }

        img {
          width: 6.6rem;
          margin-left: 2rem;

          &.profits__mini-image {
            width: 2.1rem;
            margin-left: 1rem;
          }
        }

      }
    }


    &:first-child {
      border-right: 2px solid $purple;
      padding-left: 0;
      padding-right: 2.8rem;
      width: 45.8%;

      @media (max-width: $tablet) {
        padding-right: 2rem;
      }

      @media (max-width: $mobile) {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #8469ff;
        padding: 0;

      }

      .profits__header {
        padding-right: 3rem;
        margin: 0 0 2rem;

        @media (max-width: $mobile) {
          img {
            width: 10.9rem;
            margin: 0 0rem 0 2rem;
          }

          span {
            margin-top: 1.45rem;
          }

        }
      }
    }
  }

  &__rows {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;

    @media (max-width: $mobile) {
      margin: 0 0 2.3rem;
    }
  }

  &__row {
    margin: 0 0 4rem;

    @media (max-width: $mobile) {
      margin: 0 0 1rem;
    }

    h6 {
      font-family: $dele;
      font-size: 2.5rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 1.5rem;

      @media (max-width: $mobile) {
        font-size: 1.6rem;
        margin: 0 0 1.2rem;
      }
    }

    p {
      margin: 0;
      line-height: normal;

      @media (max-width: $mobile) {
        line-height: 1.45;
      }
    }

    ul {
      padding: 0.3rem 0 0 4rem;
      list-style-type: disc;

      @media (max-width: $mobile) {
        padding: 0.3rem 0 0 2.2rem;
      }
    }

    li {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: normal;

      @media (max-width: $tablet) {
        font-size: 2rem;
      }

      @media (max-width: $mobile) {
        font-size: 1.4rem;
        margin: 0 0 1.3rem;
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 1.8rem;

    span {
      font-family: $dele;
      text-transform: uppercase;
      font-size: 2.5rem;
      line-height: 1.4;
      display: flex;
      align-items: center;
      gap: 2rem;
      color: $purple;
    }
  }

}
