.swot {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem 6rem;
  position: relative;

  &__more-button {
    display: none;
  }

  &.swot-short {
    @media (max-width: $mobile) {
      max-height: 42.6rem;
      flex-wrap: nowrap;
      overflow: hidden;

      .swot__more-button {
        display: flex;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        height: 5rem;
        bottom: 0;
        left: 0;
        border: none;
        background: $grey;
        background: linear-gradient(180deg, rgba(232,232,232,0) 0%, rgba(232,232,232,1) 49%, rgba(232,232,232,1) 100%);
        color: #989898;
        font-size: 1.4rem;
        text-align: left;
      }
    }
  }

  @media(max-width: $mobile) {
    flex-direction: column;
    margin: 0;
  }

  &__block {
    border: 1px solid $purple;
    padding: 2rem 1rem 1rem 2rem;
    width: 32.5%;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
      padding-top: 1rem;

      @media(max-width: $mobile) {
        padding: 2.2rem 0 2.5rem;
      }

    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      border-bottom: none;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      border-left: none;
      padding-left: 0;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      border-right: none;
      padding-right: 0;
    }

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      width: 35%;

      @media(max-width: $mobile) {
        width: 100%;
      }
    }

    &:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media(max-width: $mobile) {
      width: 100%;
      border: none;
      border-bottom: 1px solid $purple;
      padding: 2.2rem 0 2.5rem;

      &:first-child {
        display: none;
      }
    }
  }

  p {
    font-size: 1.8rem;
    line-height: normal;
    margin: 0;

    @media (max-width: $tablet) {
      font-size: 1.6rem;
    }
  }

  .purple-list {
    li {
      margin: 0 0 1.2rem;
    }
  }

  &__letter {
    font-family: $dele;
    font-size: 2.5rem;
    margin: 0 0 1rem;

    @media (max-width: $tablet) {
      font-size: 2rem;
    }

    .purple {
      color: #876DFF;
    }

    .green {
      color: #00C1A3;
    }

    .light-purple {
      color: #A467BF;
    }

    .light-red {
      color: #EE3F7C;
    }
  }

  &__title {
    font-family: $dele;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: normal;
    margin: 0 0 2.8rem;
    color: $dark-grey;

    @media (max-width: $tablet) {
      font-size: 2rem;
    }
  }

}
